.logo {
    font-size: 4em;
    font-weight: bold;
    color: #FAED26;
    padding-bottom: 10px;
    /* padding: 10px 0px */
}
.logoIcon {
    /* background: #1DA57A; */
    background: #FAED26;
    color: black;
    padding: 0px 10px;
}